body {
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  margin: 0;
  font-family: rubik;
  overflow-x: hidden;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.trainerdex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 20px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  width: 60%;
  height: 45%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 15%;
  left: 19%;
  z-index: 1;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background: linear-gradient(to right, #d41f1f, #e4db5f);
}

.grass {
  background: linear-gradient(to right, #6bec14, #48a708);
}

.electric {
  background: linear-gradient(to right, #ffcc41, #f8cd57);
}

.water {
  background: linear-gradient(to right, #69c5e9, #057baa);
}

.ice {
  background: linear-gradient(to right, #8ccce5, #add6e6);
}

.ground {
  background: linear-gradient(to right, #e9c562, #a17807);
}

.rock {
  background: linear-gradient(to right, #7a6f61, #694a25);
}

.fairy {
  background-color: #fceaff;
}

.poison {
  background: linear-gradient(to right, #bd80da, #a61fe4);
}

.bug {
  background: linear-gradient(to right, #a5c559, #86b419);
}

.dragon {
  background: linear-gradient(to right, #1f5bcc, #1e3d77);
}

.psychic {
  background: linear-gradient(to right, #e25fa1, #e70476);
}

.flying {
  background: linear-gradient(to right, #d4c6e4, #c9abeb);
}

.ghost {
  background: linear-gradient(to right, #7d0fc7, #340057);
}

.normal {
  background: linear-gradient(to right, #e9e6e6, #e2dfdf);
}

.fight {
  background: linear-gradient(to right, rgb(211, 111, 80), rgb(187, 58, 18));
}

.dark {
  background: linear-gradient(to right, rgb(36, 33, 33), #b3aeae);
}

.rival {
  background: linear-gradient(to right, #DCD8D8, #B8B8B8);
}

.champion {
  background: linear-gradient(to right, #FFF200, #E2BE05);
}

.teamRocket{
  background: linear-gradient(to right, #585454, #383535);
  color: rgb(216, 52, 52);
}

.card:hover {
  animation: bounce 0.5s linear;
}


.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 150px;
  position: relative;
  z-index: 2;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.trainer-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 100%;
  background-color: #004b8d;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.trainer-menu.open {
  right: 0;
}

#trainer-name {
  font-size: 24px;
  margin-bottom: 10px;
}

#trainer-info {
  font-size: 16px;
}

#close-menu {
  margin-top: 20px;
  padding: 10px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#previous,
#next {
  margin-top: 20px;
  padding: 10px;
  background-color: #ff6347;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 4px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .card {
    padding: 15px;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-image {
    height: 120px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  .card {
    padding: 10px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-image {
    height: 100px;
  }
}