body {
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  margin: 0;
  font-family: rubik;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
}

.trainerdex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
  
}

.card::after {
  content: "";
  display: block;
  width: 60%;
  height: 45%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 15%;
  left: 19%;
  z-index: 1; 
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background: linear-gradient(to right, #d83333, #e4db5f);
}

.grass {
  background: linear-gradient(to right,#6bec14, #48a708);
}

.electric {
  background: linear-gradient(to right,#fcec9f, #eebc31);
}

.water{
  background: linear-gradient(to right,#69c5e9, #057baa);
}

.ice {
  background-color: #def3fd;
}

.ground {
  background-color: #f4e7da;
}

.rock {
  background: linear-gradient(to right, #7a6f61, #694a25);
}

.fairy {
  background-color: #fceaff;
}

.poison {
  background-color: #c4add6;
}

.bug {
  background-color: #f8d5a3;
}

.dragon {
  background: linear-gradient(to right, #1f5bcc, #2a4a86);
}

.psychic {
  background-color: #eaeda1;
}

.flying {
  background-color: #f5f5f5;
}

.fighting {
  background-color: #e6e0d4;
}

.ghost {
  background: linear-gradient(to right, #7d0fc7, #4c017e);
}

.normal {
  background-color: #c7c4c4;
  background: linear-gradient(to right, #c7c4c4, #e2dfdf);
}

.dark {
  background: linear-gradient(to right, rgb(36, 33, 33), #b3aeae);
}

.champion {
  background: linear-gradient(to right, #fff12b, #cec333);
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.trainer-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 100%;
  background-color: #004b8d;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.trainer-menu.open {
  right: 0;
}

#trainer-name {
  font-size: 24px;
  margin-bottom: 10px;
}

#trainer-info {
  font-size: 16px;
}

#close-menu {
  margin-top: 20px;
  padding: 10px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}